@import "@repo/ui/styles/app.css";

@layer base {
	:root {
		--grid: #32302f;
		--axis: #504945;
		--fg-plot: #ebdbb2;
		--dim-plot: #a89984;
		--muted-plot: #7c6f64;

		--s1: #3987e5;
		--s2: #d95926;
		--s3: #199e70;
		--s4: #c98500;
		--s5: #d55181;
		--s6: #008300;
		--s7: #9085e9;
		--s8: #e66767;

		--q100: #0d366b;
		--q200: #104281;
		--q300: #184f95;
		--q400: #256abf;
		--q500: #2a78d6;
		--q600: #3987e5;
		--q700: #6da7ec;

		--good: #199e70;
		--warn: #c98500;
		--serious: #d95926;
		--crit: #e66767;
	}
}
